trigger:
  branches:
    include:
      - main
      - master

pool:
  vmImage: 'ubuntu-latest'

variables:
  node_version: '20.x'
  angular_project_path: 'motomanager-client'
  build_output_path: 'motomanager-client/dist/motomanager-client'

stages:
  - stage: Build
    displayName: 'Build Angular Application'
    jobs:
      - job: BuildJob
        displayName: 'Build Job'
        steps:
          - task: NodeTool@0
            displayName: 'Install Node.js'
            inputs:
              versionSpec: $(node_version)

          - script: |
              cd $(angular_project_path)
              npm ci
            displayName: 'Install Dependencies'

          - script: |
              cd $(angular_project_path)
              npm run build -- --configuration production
            displayName: 'Build Angular Production'

          - task: PublishBuildArtifacts@1
            displayName: 'Publish Build Artifacts'
            inputs:
              PathtoPublish: '$(build_output_path)'
              ArtifactName: 'angular-app'
              publishLocation: 'Container'

  - stage: Deploy
    displayName: 'Deploy to Azure Static Web App'
    dependsOn: Build
    condition: succeeded()
    jobs:
      - deployment: DeployJob
        displayName: 'Deploy Job'
        environment: 'production'
        strategy:
          runOnce:
            deploy:
              steps:
                - download: current
                  artifact: angular-app

                - task: AzureStaticWebApp@0
                  displayName: 'Deploy to Static Web App'
                  inputs:
                    app_location: '$(Pipeline.Workspace)/angular-app'
                    skip_app_build: true
                    azure_static_web_apps_api_token: $(DEPLOYMENT_TOKEN)
